FilmLibrary/CoursWPF.MVVM/obj/
FilmLibrary/FilmLibrary/bin/Debug/net5.0-windows/ControlzEx.dll
FilmLibrary/FilmLibrary/bin/
FilmLibrary/FilmLibrary/obj/
FilmLibrary/.vs/FilmLibrary/v16/.suo
FilmLibrary/CoursWPF.MVVM/bin/
